body{
    background-image:url('/static/background_home.png');
    background-size: cover;
    
}
h1,h2,h3,h4,a{
    color:white;
    font-family:'Cambria',sans-serif;
    text-align: center;
    
}

.container{
    display:flex;
    justify-content: center;
}/*Căn chỉnh nút bấm ra giữa trang web*/

.button{
    color:black;
    background-color:white;
    font-size: medium;

}/*Các nút bấm*/

table{
    margin:0 auto;  
}

tr,td{
    text-align: center;
}

.corner-text {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 16px;
  }
/*position để cố định chữ ở góc phải dưới trang web
/* table căn chỉnh các cột của table ra giữa */

/* ctrl + K + C để ghi chú thích */
/* . là biểu thị 1 class được tạo ra ở bên file html
 
